<div class="row clearfix" ng-controller="app.views.project.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header data_section">
                <h2>
                    @L("Projects")

                </h2>
                 <div class="data_section headerbox">
                <ul>
                    <li class="dropdown">
                        <select id="ddlcom" ui-select2 class="form-control" style="width:150px" ng-model="vm.project.clientId">
                            <option value="">All Client</option>
                            <option ng-repeat="st in vm.cname" value="{{st.clientId}}">{{st.clientName}}</option>
                        </select>
                    </li>
                    <li class="dropdown" style="display:none">
                        <select id="ddlcom" ui-select2 class="form-control" ng-model="vm.project.projectId" required>
                            <option value="">All Project</option>
                            <option ng-repeat="st in vm.projectTask" value="{{st.id}}">{{st.projectName}}</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        <select id="drpteam" class="js-example-placeholder-single js-states form-control validate" ui-select2 ng-model="vm.project.marketingleadId" required>
                            <option value="" @*ng-if="vm.projectList[0].username!="Marketing Leader"*@>All Marketing Leader</option>
                            <option ng-repeat="us in vm.ddlmarketingList" value="{{us.id}}">{{us.name}}</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        @*<select id="ddlcom" class="form-control" ng-model="vm.project.projectStatusId">
                            <option value="">All Status</option>
                            <option ng-repeat="proStatus in vm.ddlProjectStatus" value="{{proStatus.id}}">{{proStatus.status}}</option>
                        </select>*@
                        <select id="ddlcom" class="form-control js-example-basic-multiple" data-placeholder="All Status" multiple ui-select2 ng-model="vm.project.projectStatusId">
                            <option ng-repeat="proStatus in vm.ddlProjectStatus" value="{{proStatus.id}}">
                                {{proStatus.status}}
                            </option>
                        </select>
                    </li>
                    <li>
                        <input type="text" ng-model="vm.searchBox" class="form-control" placeholder="Search by project " style="">
                    </li>

                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.refreshGrid()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.clear()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <div ng-show="!vm.permissions.employeewrites">
                            <button type="button" data-toggle="modal" class="btn btn-primary add" ng-click="vm.openProjectCreationModal()">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </li>



                </ul>
            </div>
                
            </div>
           




            <p ng-if="noData" class="alert alert-info"> No record found.</p>
            <div class="body table-responsive footer_table_right">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr" ng-if="!noData"></div>
            </div>


        </div>
    </div>
</div>