


<div>
    <!--<div id="chartbar">
        <label>{{chartname}} </label>-->

        @*<canvas id="{{chartid}}" class="chartjs"></canvas>*@
    <!--</div>


    <div id="canvaschart" style="height:300px;width:300px;">

        <canvas id="myChart" class="chartjs"></canvas>
    </div>

    <div id="barchartdiv" style="height:300px;width:300px;">


    </div>-->
    <div id="barchart"></div>
    @*<div style="height:300px;width:300px;">

            <canvas id="mydonutChart" class="chartjs"></canvas>
        </div>*@
    @*<div>
            <section class="chart" id="chartContainer">
                <figure class="chart__figure">
                    <canvas class="chart__canvas" id="chartCanvas" width="160" height="160" aria-label="Example doughnut chart showing data as a percentage" role="img"></canvas>

                </figure>
            </section>
        </div>*@

    @*<div class"row">
            <div class="col-sm-6 text-center">
                <label class="label label-success">Area Chart</label>
                <div id="area-chart"></div>
            </div>
            <div class="col-sm-6 text-center">
                <label class="label label-success">Line Chart</label>
                <div id="line-chart"></div>
            </div>
            <div class="col-sm-6 text-center">
                <label class="label label-success">Bar Chart</label>
                <div id="bar-chart"></div>
            </div>
            <div class="col-sm-6 text-center">
                <label class="label label-success">Bar stacked</label>
                <div id="stacked"></div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <label class="label label-success">Pie Chart</label>
                <div id="pie-chart"></div>
            </div>

        </div>*@
</div>