<div class="customfileuploader">
    <!--<input type="file" change="change()">-->

    <div class="customfileupload">
        <input type="text" name="Logo" id="textlogo" class="form-control" ng-model="model"
               placeholder="No file selected" readonly/>
        <div class="btn btn-primary">
            <input id="filetoupload" type="file" name="file" change="change()" multiple />
            Browse
        </div>
    </div>
</div>




