<div class="row clearfix" ng-controller="app.views.nthlevelsubcategories as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header data_section">
                <h2>
                    @L("ManageSubCategory")
                </h2>
                <div>
                    <ul>
                        <li>
                            <input type="text" ng-model="vm.searchBox" class="form-control" placeholder="Name" style="">
                        </li>
                        <li> <button type="button" class="btn btn-primary" ng-click="vm.refreshGrid()">Search</button></li>
                        <li>
                            <button type="button" data-toggle="modal" class="btn btn-primary btnadd" ng-click="vm.openAddModal()">
                                <i class="material-icons">add</i>
                            </button>

                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btnback" value="" ng-click="vm.cancel()">Back</button>
                            @*<button type="button" ng-click="vm.cancel()" value="" class="btn btn-primary btnback fixed">
                                    <i class="material-icons icon-image-preview">keyboard_arrow_left</i> Back
                                </button>*@
                        </li>
                    </ul>
                </div>


            </div>

            <div>
                <div class="form-line" style="margin-top:6px;  margin-bottom:18px;">
                    <span style="font-weight: bold; font-size: medium;" for="que-description" class="form-label labeltitlebox">
                        Selected Category :
                    </span>
                    <span style="font-size: medium;">{{vm.selectedType}}</span>
                </div>
            </div>
            <div class="body table-responsive">
                @**********************************************************@
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr"></div>
                @**********************************************************@


            </div>
        </div>
    </div>
</div>
<style>
    .dropdown-menu {
        margin: -26px 0px 0px 22px !important;
    }
</style>
