<div class="row clearfix" ng-controller="app.views.holidaylist.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header data_section headerbox">
                <h2>
                    @L("HolidayList")

                   
                </h2>
 <div class="">
                <ul>
                    <li>
                        <input type="text" ng-model="vm.searchBox" class="form-control" placeholder="Title...."
                            style="">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.search()"> <i class="fa fa-search" aria-hidden="true"></i></button>
                    </li>
                </ul>
            </div>
            </div>
           

            <p ng-if="noData" class="alert alert-info"> No record found.</p>
            <div class="body table-responsive padd_top">
                <!-- ******************************************************** -->
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr"
                    ng-if="!noData"></div>
                <!-- ******************************************************** -->
            </div>
        </div>
    </div>
</div>
