<div class="row clearfix" ng-controller="app.views.reports.loginLogoutReport as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("EmployeeLoginLogoutReport")
                </h2>
            
            <div class="data_section headerbox">
                <ul>
                    <li class="dropdown">
                        <select id="ddlemp" class="validate form-control" ng-model="vm.reportInput.yearId">
                            <option value="">-Select year -</option>
                            <option ng-repeat="years in vm.yearList" value="{{years.year}}">{{years.year}}</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        <select id="ddlemp" class="validate form-control" ng-model="vm.reportInput.monthId">
                            <option value="">-Select Month -</option>
                            <option ng-repeat="mnth in vm.monthList" value="{{mnth.id}}">{{mnth.name}}</option>
                        </select>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.searchAll()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.clearAll()" style="height: 35px"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </li>
                </ul>
            </div>
            </div>
            <p ng-show="noData" class="alert alert-info"> No record found.</p>

            <div class="body table-responsive footer_table_right">
                <div ui-grid="vm.loginLogoutGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr" ng-show="!noData"></div>
            </div>
        </div>
    </div>
</div>