<div class="row clearfix" ng-controller="app.views.reports.projectreport as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header data_section">
                <h2>
                    Project Report 

                </h2>
                <div>
                    <ul>
                     <li  ng-if="vm.userGridOptions.totalItems>0">
                        <span ng-if="vm.userGridOptions.totalItems>0" class="badgebox"><b>Total No. of Person:</b> {{ vm.userGridOptions.totalItems}}</span>
                    </li>
                    <li  ng-if="vm.userGridOptions.totalItems>0"> <span ng-if="vm.userGridOptions.totalItems>0" class="badgebox"><b>Project Price:</b> {{vm.supports[0].projectPrice}}</span>
                    </li>
                        <li>
                            <select id="ddlcom1" ui-select2 class="form-control" ng-model="vm.task.id" ng-change="getProjectReport(vm.task.id)"
                                    style="width:200px;">
                                <option value="">-All Project-</option>
                                <option ng-repeat="st in vm.tname" value="{{st.id}}">
                                    {{st.projectName}}
                                </option>
                            </select>
                        </li>
                        <li>
                            <div class="">
                                <button ng-disabled="vm.isChecked==true" type="button" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-click="vm.exportExcel()" value=""
                                        class="btn btn-primary btnback fixed" data-toggle="tooltip" data-placement="top" title="Export To Excel">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                    <!-- <span ng-show="hoverEdit">Export To Excel</span> -->
                                </button>
                            </div>
                            @*<a class="btnexcel dropdown-toggle" ng-click="vm.exportExcel()"> <img src="~/App/Main/images/excel.svg" alt="excel">Export </a>*@

                        </li>
                    </ul>
                </div>

            </div>
            <!-- <div class="data_section headerbox">
                <ul>
                    <li>
                        <span ng-if="vm.userGridOptions.totalItems>0" class="badgebox"><b>Total No. of Person:</b> {{ vm.userGridOptions.totalItems}}</span>
                    </li>
                    <li> <span ng-if="vm.userGridOptions.totalItems>0" class="badgebox"><b>Project Price:</b> {{vm.supports[0].projectPrice}}</span>
                    </li>
                </ul>
            </div>  -->

           
            <div style="padding:0px 0px 0px 0px!important;" class="body table-responsive">

                @**********************************************************@

                <div ng-if="record==true" class="alert alert-info" @*style="color: red; font-weight: bold"*@>
                    No record found.
                </div>
                <div ui-grid="vm.userGridOptions" ng-if="record==false && vm.userGridOptions.totalItems>0" ui-grid-pagination ui-grid-resize-columns
                     full-height-grid dir="ltr">

                </div>

                @**********************************************************@


            </div>
        </div>
    </div>
</div>