<style>
    .oldred-people {
        background-color: #ffdede !important; /*red*/
    }

    .oldyellow-people-selected {
        background-color: #fdffde !important; /*yellow*/
    }

    .oldgreen-people-selected {
        background-color: #d4fecf !important; /*green*/
    }
</style>
<div class="row clearfix" ng-controller="app.views.reports.projectstatsamount as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("ProjectStats(Amount)")
                </h2>
            
            <div class="data_section headerbox">
                <ul>
                    <li class="dropdown">
                        <select id="ddlstatus" ui-select2 class="validate form-control" style="width:150px;" ng-model-options="vm.reports.status" ng-model="vm.reports.status">
                            <option value="">All Status</option>
                            <option ng-repeat="s in vm.statuslist" value="{{s.id}}">{{s.status}}</option>
                        </select>
                    </li>

                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.searchAll()"><i class="fa fa-search" aria-hidden="true"></i></button>

                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.clearAll()" style="height: 35px"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <div>
                            <button ng-disabled="vm.isChecked==true" type="button" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
                                    ng-click="vm.exportExcel()
                    " value=""
                                    class="btn btn-primary btnback fixed" data-toggle="tooltip" data-placement="top" title="Export To Excel">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                <!-- <span ng-show="hoverEdit">Export To Excel</span> -->
                            </button>
                        </div>


                    </li>
                </ul>
            </div>
            </div>
            @*<div class="row">
                <div class="col-sm-12">
                    <div class="card-design">
                        <div>
                            <div class="card-header">
                                <h4>
                                    @L("ProjectStats(Amount)")
                                </h4>

                            </div>
                        </div>*@
                        <p ng-if="noData" class="alert alert-info">No Records Found.</p>
                        <div class="body table-responsive footer_table_right">
                            <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr" ng-if="!noData"></div>
                        </div>
                        @*<div id="exportable">

            <table class="table table-hover table-striped" ng-if="!noData">
                <thead>
                    <tr class="">
                        <th>Project Name</th>
                        <th>Project Cost</th>
                        <th>Company Cost</th>
                        <th>%</th>
                        <th>Profit</th>
                        <th>Profit (%)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="statsamt in vm.resultlist" ng-style="statsamt.costPercentage>=100 ? {'background-color':'red'}:(statsamt.costPercentage<100 && 80>=statsamt.costPercentage?{'background-color': 'yellow'}:{'background-color': 'green'})">
                        <td>{{statsamt.projectName}}</td>
                        <td>{{statsamt.projectCost | number : 2}}</td>
                        <td>{{statsamt.companyCost | number : 2}}</td>
                        <td>{{statsamt.costPercentage | number : 2}}</td>
                        <td>{{statsamt.profit | number : 2}}</td>
                        <td>{{statsamt.profitPercentage | number : 2}}</td>
                        <td>{{statsamt.status}}</td>
                    </tr>
                </tbody>
            </table>

        </div>*@
                    @*</div>
                </div>
            </div>*@
        </div>
    </div>
</div>