
<div class="row clearfix" ng-controller="app.views.sales.service as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="displyflex">
                    <span>Sales Detail - Service</span>
                </h2>
           
            <div class="data_section headerbox">
                <ul>
                    <li>
                        <span class="badgebox">Financial Year ({{vm.financyear}})</span> <span class="badgebox"> Total Sales  : {{vm.totalFinancialYrsales}}</span>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    <li class="dropdown">
                        <select id="ddlcom1" class="form-control">
                            @*<option ng-repeat="st in vm.years1" value="{{st}}">{{st}}</option>*@
                        </select>
                    </li>

                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.refreshGrid()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.clear()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </li>
                </ul>
            </div>
             </div>
            
            <div ng-if="noData" class="alert alert-info">
                No record found.
            </div>

            <div class="body table-responsive">

                @**********************************************************@
                <table class="table table-hover table-striped fnt_normal td_middal width600" ng-if="!noData">
                    <thead>
                        <tr>
                            <td ng-repeat="itemval1 in  vm.salesData">
                                {{itemval1.monthYear}}
                            </td>
                        </tr>
                    </thead>
                    <tbody id="tblSalesData">
                        <tr>

                            <td ng-repeat="itemval in vm.salesData">
                                <div ng-repeat="itemval2 in itemval.mServiceWiseSales" ng-if="itemval2.serviceName != null "> {{ itemval2.serviceName }} ({{itemval2.noOfServcies}}) -  {{ itemval2.totalsales}}</div>
                                <div ng-if="itemval.mServiceWiseSales.length==0"> - </div>
                            </td>

                        </tr>
                        <tr>

                            <td ng-repeat="itemval in vm.salesData" style="text-align:right">
                                {{ itemval.totalYearsales}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

































