<form id="frm_create_company" name="companyCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewBeneficialCompany")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="cname" class="form-label">@L("BeneficialCompanyName")<span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line focused">
                        <input id="cname" type="text" name="cname" ng-model="vm.company.beneficial_Company_Name" required
                               class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" data_section">
            <ul>
                <li>
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                        @L("Cancel")
                    </button>
                </li>
                <li>
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="companyCreateForm.$invalid || vm.loading || btndisable">
                        @L("Save")
                    </button>
                </li>
            </ul>
        </div>


    </div>

</form>