<div class="row clearfix" ng-controller="app.views.expensesubcategorylist.index as vm">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">           
            <div class="header data_section">
                <h2>
                    Expense Heads

                </h2>

                <div>
                    <ul>

                        <li>
                            <input type="text" ng-model="vm.task.category" placeholder="Category" class="search_box form-control" />
                        </li>
                        <li>
                            <input type="text" ng-model="vm.task.subCategory" placeholder="Expense Heads" class="search_box form-control" />
                        </li>
                        <li>
                            <button ng-click="vm.search()" class="btn btn-primary add">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button ng-click="clearSearch()" class="btn btn-primary">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>

                        </li>
                        <li>
                            <button type="button" data-toggle="modal" class="btn btn-primary add" ng-click="vm.openCreateModal()">
                                <i class="material-icons">add</i>
                            </button>
                        </li>

                    </ul>

                </div>
            </div>


            <div class="body table-responsive" ng-hide="norecord == true">

                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr"></div>

            </div>
            <div ng-if="norecord == true" class="alert alert-info">
                No record found.
            </div>
        </div>
    </div>
</div>