<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">

        <div class="modal-header">

            <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="modal-title">
                <span>@L("importuserstory")</span>
            </h4>
        </div>
        <div class="body">
            <form id="frm_create" name="CreateForm" novalidate>
                <div class="body table-responsive">
                    <div class="modal-body ">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-float">
                                    <div class="form-groupbox">
                                        <a href={{vm.downloadfile}} @*ng-click="vm.downloadsampleFile()"*@ value="" class="btn btn-primary">
                                            Download Sample File
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<a ng-if="vm.inquiry.boqDocument!=null" href={{vm.inquiry.BOQDocUrl}} target="_blank" class="btn btn-primary btndownloadfile">-->
                        @*{{vm.inquiry.boqDocument}}*@
                        <!--<i class="fa fa-download" aria-hidden="true"></i>
                        </a>-->
                        <div class="row">
                            @*<div class="col-sm-8">
                                    <div class="form-group form-float">
                                        <label for="ddlproject" class="form-label">Select Project<span class="abp_required" style="color:red">*</span></label>
                                        <div class="form-line focused">
                                            <select id="ddlproject" class="form-control" ng-model="vm.importuserstory.projectId" required>
                                                <option value="">-Select-</option>
                                                <option ng-repeat="project in vm.projectlist" value="{{project.id}}">{{ project.projectName }}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-md-8">
                                <div class="uploadimbbox">
                                    <div class="input-group">
                                        <input type="text" name="Logo" id="logo" ng-model="vm.logo" class="form-control" placeholder="No file selected" readonly required>
                                        <span class="input-group-btn">
                                            <div class="btn btn-primary btndarkblue  custom-file-uploader">
                                                @*<input id="filetoupload" type="file" name="file" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />*@
                                                <input id="filetoupload" type="file" name="file" onchange="angular.element(this).scope().checkfiletypevalidation(this)" />
                                                Browse
                                            </div>
                                        </span>
                                    </div>
                                    <button type="submit" id="btnupload" button-busy="vm.saving" class="btn btn-primary btndarkblue blue btnupload" ng-click="vm.uploadFile(myFile)"><span>@L("Upload")</span></button>
                                </div>

                            </div>
                            <label for="projectName" class="form-label" style="color:red; margin-bottom:5px; padding-left:15px;">Upload Import File<span>(Upload .xls, .xlsx type only.)</span></label>
                        </div>
                    </div>
                </div>


                <div class="body table-responsive">
                    <table class="table">
                        <tbody>
                            <tr><div ng-if="vm.rowcount.length > 0">&nbsp;&nbsp;Total rows successfull : {{vm.successrowcount}} and failed : {{vm.rowcount.length}}</div></tr>
                            <tr ng-repeat="item in vm.errorresult track by $index">
                                <td ng-show="vm.showcolumn">
                                    <div>
                                        <span style="color:red">Error :- {{item}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>
</div>