<div class="row clearfix" ng-controller="app.views.empuserStoryReport as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header pl-0">
                <h2>
                    @L("EmployeeWiseUserStoryReport")

                </h2>
            </div>

            <div class="data_section headerbox">
                <ul>
                    <li>
                        <input type="text" ng-model="vm.empimportuserstory.userStory" style="width:300px;" class="validate form-control" placeholder="Search by User Story" style="height: 35px">
                    </li>
                    <li>
                        <input class="validate form-control" placeholder="From Date"
                               moment-picker="vm.empimportuserstory.fromDate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               today="true"
                               ng-model="vm.empimportuserstory.fromDate"
                               value="vm.empimportuserstory.fromDate"
                               ng-model-options="{ updateOn: 'blur' }" />
                    </li>
                    <li>
                        <input class="validate form-control" placeholder="To Date"
                               moment-picker="vm.empimportuserstory.toDate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               today="true"
                               ng-model="vm.empimportuserstory.toDate"
                               value="vm.empimportuserstory.toDate"
                               ng-model-options="{ updateOn: 'blur' }" />

                    </li>
                    <li class="dropdown">
                        <select id="ddlstatus" class="form-control" style="width:100px;" ng-model="vm.empimportuserstory.status">
                            <option value="">Status</option>
                            <option value="0">Pending</option>
                            <option value="1">Completed</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        <select id="ddlcom" class="form-control" ng-model="vm.empimportuserstory.projectId" @*ng-change="getProjectUserStory(vm.empimportuserstory.projectId)"*@>
                            <option value="">Select Project</option>
                            <option ng-repeat="st in vm.projectTask" value="{{st.id}}">{{st.projectName}}</option>
                        </select>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.searchAll()"><i class="fa fa-search" aria-hidden="true"></i></button>

                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.clearAll()" style="height: 35px"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </li>
                </ul>
            </div>


            <div ng-if="noData==true" class="alert alert-info" @*style="color: red; font-weight: bold"*@>
                No record found.
            </div>
            <div class="body table-responsive footer_table_right">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns
                     full-height-grid dir="ltr" ng-if="!noData">
                </div>
                </div>
            </div>
        </div>
</div>