<div class="row clearfix" ng-controller="app.views.userStoryReport as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header pl-0">
                <h2>
                    @L("UserStoryReport")

                </h2>
           

            <div class="data_section headerbox">
                <ul>
                    <li>
                        <input class="validate form-control" placeholder="From Date"
                               moment-picker="vm.importuserstory.fromDate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               today="true"
                               ng-model="vm.importuserstory.fromDate"
                               value="vm.importuserstory.fromDate"
                               ng-model-options="{ updateOn: 'blur' }" />
                    </li>
                    <li>
                        <input class="validate form-control" placeholder="To Date"
                               moment-picker="vm.importuserstory.toDate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               today="true"
                               ng-model="vm.importuserstory.toDate"
                               value="vm.importuserstory.toDate"
                               ng-model-options="{ updateOn: 'blur' }" />

                    </li>
                    <li class="dropdown">
                        <select id="ddlstatus" class="form-control" style="width:100px;" ng-model="vm.importuserstory.status">
                            <option value="">Status</option>
                            <option value="0">Pending</option>
                            <option value="1">Completed</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        <select id="ddlemployee" ui-select2 class="form-control" style="width:180px" ng-model="vm.importuserstory.employeeId" @*ng-change="getEmployeeUserStory(vm.importuserstory.employeeId)"*@>
                            <option value="">Select Employee</option>
                            <option ng-repeat="employee in vm.employeelist" value="{{employee.id}}">{{ employee.name }}</option>
                        </select>
                    </li>

                    <li class="dropdown">
                        <select id="ddlcom" ui-select2 class="form-control" style="width:180px" ng-model="vm.importuserstory.projectId" @*ng-change="getProjectUserStory(vm.importuserstory.projectId)*@>
                            <option value="">Select Project</option>
                            <option ng-repeat="st in vm.projectTask" value="{{st.id}}">{{st.projectName}}</option>
                        </select>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.searchAll()"><i class="fa fa-search" aria-hidden="true"></i></button>

                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" ng-click="vm.clearAll()" style="height: 35px"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <div>
                            <button ng-disabled="vm.isChecked==true" type="button" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
                                    ng-click="vm.exportExcel()" value=""
                                    class="btn btn-primary btnback fixed" data-toggle="tooltip" data-placement="top" title="Export To Excel">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                        </div>


                    </li>
                </ul>
            </div>
             </div>

            <div ng-if="noData==true" class="alert alert-info" @*style="color: red; font-weight: bold"*@>
                No record found.
            </div>
            <div ui-grid="vm.userGridOptions" ng-if="noData==false" ui-grid-pagination ui-grid-resize-columns
                 full-height-grid dir="ltr">

            </div>
            
        </div>
    </div>
</div>