<form id="frm_edit_user" name="edituserresignform" novalidate>
    <div class="modal-header">

        <h4 class="modal-title">
            <span>@L("MarkAsResign")</span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                     <label for="dtres" class="form-label">Resign Date<span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line focused">
                        <input class="validate form-control" placeholder="Resign Date"
                               moment-picker="vm.home.resigndate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               @*start-date="vm.startDate"*@
                               selected-date="vm.home.resigndate"
                               required ng-model="vm.home.resigndate"
                               value="vm.home.resigndate"
                               ng-model-options="{ updateOn: 'blur' }" />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="edituserresignform.$invalid">
            @L("Save")
        </button>
    </div>
</form>


