<form id="frm_details_opportunity" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
       
        <h4 class="modal-title">
            <span>Reason</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
           
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card main-content">
                    <div class="padd_top">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span>
                                            <strong>Action Date</strong>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        : <span>
                                            {{ vm.opportunity.actionDate | date:"dd/MM/yyyy"}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span>
                                            <strong> Reason </strong>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        : <span>
                                            {{vm.opportunity.comment}}
                                        </span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
