<form id="frm_create_holiday" name="holidayCreateForm" novalidate>

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateHoliday")</span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="dtstart" class="form-label">Start date<span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line focused">
                        <input class="validate form-control" placeholder="Start Date "
                               moment-picker="vm.holiday.startDate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               required ng-model="vm.holiday.startDate"
                               value="vm.holiday.startDate" />
                        @*ng-model-options="{ updateOn: 'blur' }" />*@

                        
                    </div>
                </div>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="dtend" class="form-label">End date<span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line focused">
                        <input class="validate form-control" placeholder="End Date "
                               moment-picker="vm.holiday.endDate"
                               locale="en"
                               format="DD/MM/YYYY"
                               start-view="month"
                               required ng-model="vm.holiday.endDate"
                               value="vm.holiday.endDate" />
                        @*ng-model-options="{ updateOn: 'blur' }" />*@

                        
                    </div>
                </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group">
                     <label for="dtend" class="form-label" style="color: #aaa;">Type <span class="abp_required" style="color:red">*</span></label>
                    <div class="radio-inline-list">
                        <div class="radio_input">
                           
                            <input type="radio" ng-readonly="makeReadOnlyYes" id="fes1" ng-model="vm.holiday.type" name="type" value="1">
                            <label for="fes1">
                                FullDay
                            </label>
                        </div>
                        <div class="radio_input">
                            <input type="radio" id="fes2" ng-model="vm.holiday.type" name="type" value="0">
                            <label for="fes2">
                                HalfDay
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                     <label for="dttitle" class="form-label">Title<span class="abp_required" style="color:red">*</span></label>
                    <div class="form-line">
                        <input id="title" type="text" name="Title" ng-model="vm.holiday.title" required maxlength="32" minlength="2" class="validate form-control">
                       
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-xs-6">
                <label>From:</label>
                <input class="form-control"
                       placeholder="Select a date..."
                       moment-picker="vm.holiday.startDate"
                       locale="en"
                       format="DD/MM/YYYY"
                       start-view="month"
                       ng-model="vm.holiday.startDate"
                       ng-model-options="{ updateOn: 'blur' }">
            </div>
            <div class="col-xs-6">
                <label>To:</label>
                <input class="form-control"
                       placeholder="Select a date..."
                       moment-picker="vm.holiday.endDate"
                       locale="en"
                       format="DD/MM/YYYY"
                       start-view="month"
                       start-date="vm.holiday.startDate"
                       ng-model="vm.holiday.endDate"
                       ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>*@

    



    </div>

    <div class="modal-footer">
        <div class=" data_section">
            <ul>
                <li>
                  <button type="button" class="btn btn-default btncancel waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
                </li>
                <li>
                   <button type="submit" class="btn btn-primary btnsubmit waves-effect" ng-click="vm.save()" ng-disabled="holidayCreateForm.$invalid || vm.loading || btndisable">
            @L("Save")
        </button>
                </li>
            </ul>
        </div>
        
       
      
    </div>

</form>

