<div class="row clearfix" ng-controller="app.views.holiday.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header data_section">
                <h2> @L("Holiday")</h2>
                <div>
                    <ul>
                        <li>
                            <input type="text" ng-model="vm.searchBox" class="form-control" placeholder="Title...." style="">
                        </li>
                        <li> <button type="button" class="btn btn-primary" ng-click="vm.search()"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                        <li>
                            <button type="button" data-toggle="modal" class="btn btn-primary add " ng-click="vm.openHolidayCreationModal()">
                                <i class="material-icons">add</i>
                            </button>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- <div class="data_section">
                <ul>
                    @*<li>
                    <select class="form-control" ng-change="getStatuswiseData(vm.ddlStatus.id)" ng-model="vm.ddlStatus.id">
                        <option value="">  Select a Inquiry Status </option>
                        <option ng-repeat="stat in vm.ddlStatus" value="{{stat.id}}">
                            {{stat.status}}
                        </option>
                    </select>

                </li>*@


                </ul>
            </div>  -->
            <!-- <div class="search_container data_section ">
                <ul>
                    <li>
                       <select class="form-control" ng-change="getStatuswiseData(vm.ddlStatus.id)" ng-model="vm.ddlStatus.id">
                                <option value="">  Select a Inquiry Status </option>
                                <option ng-repeat="stat in vm.ddlStatus" value="{{stat.id}}">
                                    {{stat.status}}
                                </option>
                            </select>
                    </li>
                    <li>
                         <input type="text" ng-model="vm.searchBox" class="form-control" placeholder="Title...." style="">

                    </li>
                     <li>
                         <button type="button" class="btn btn-primary add" ng-click="vm.search()">Search</button></li>

                    </li>

                </ul>

            </div> -->



            <p ng-if="noData" class="alert alert-info"> No record found.</p>
            <div class="body table-responsive">
                <!-- ******************************************************** -->
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir="ltr" ng-if="!noData"></div>
                <!-- ******************************************************** -->
            </div>
        </div>
    </div>
</div>



