<form id="frm_edit_user" name="edituserform" novalidate>
    <div class="modal-header">
<button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Reset Password</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-6">
            <div class="form-group form-float">
                <label for="password" class="form-label">@L("Password")<span class="abp_required" style="color:red">*</span></label>
                <div class="form-line">
                    <input id="password" type="password" name="Password" ng-model="vm.user.password" required maxlength="32" class="validate form-control">

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-float">
                <label for="confirmpassword" class="form-label">Confirm Password<span class="abp_required" style="color:red">*</span></label>
                <div class="form-line">
                    <input id="confirmpassword" type="password" name="ConfirmPassword" class="validate form-control" ng-model="vm.user.confirmPassword" equalTo="#password" data-msg-equalto="Please enter the same password again." required maxlength="32">

                    <span ng-show="vm.user.password != vm.user.confirmPassword" style="color:red">Your password must match.</span>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <div class=" data_section">
            <ul>
                <li>
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">@L("Cancel") </button>
                </li>
                <li>
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="edituserform.$invalid || vm.user.password != vm.user.confirmPassword">
                        @L("Save")
                    </button>
                </li>
            </ul>
        </div>
        @* <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                @L("Cancel")
            </button> *@

    </div>
</form>


