
<form id="frm_edit_lockuserdetails" name="editlockuserdetailsform" novalidate>

    <div class="modal-header">
        <meta charset="utf-8" />

        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Details</span>
        </h4>
       
    </div>
    <div class="modal-body">
        <div class="row" ng-show="flag=='p'">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label highlight">Projects</label>
                    <div>{{vm.projectservice[0].projectName}}</div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="flag=='d'">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label highlight">Domain Name</label>
                    <div>{{vm.projectservice[0].domainName}}</div>
                </div>
            </div>
        </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>

    </div>

</form>