<div class="row clearfix" ng-controller="app.views.supportpages.detail as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Details

                </h2>
                <div class="data_section">
                    <ul>
                        <li>
                            <a style="color:#fff" class="btn btn-default btn_flex waves-effect" href="javascript:history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> @L("Back")</a>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  Service</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.serviceName}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  Client</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.clientName}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  Domain Name</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.domainName}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  Price</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.price}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="vm.faq.adjustmentAmount!=0">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  Adjustment Amount</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.adjustmentAmount}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  RegistrationDate</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.registrationDate}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong>  Renewal Date</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.nextRenewalDate|date:'dd/MM/yyyy'}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.faq.comment!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Comment</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.comment}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Account Manager</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.employeeName}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.faq.hostingSpace!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Storage Space</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.hostingSpace}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.faq.serverType!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Server Type</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.serverType}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div><div class="row" ng-if="vm.faq.displayTypename!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Type Name</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.displayTypename}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div><div class="row" ng-if="vm.faq.noOfEmail!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> No of email</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.noOfEmail}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="vm.faq.typeofssl!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Type Of SSL</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.typeofssl}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="vm.faq.title!=null">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                <span>
                                    <strong> Title</strong>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">
                                : <span>
                                    {{vm.faq.title}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>



            </div>


        </div>


    </div>
</div>