
<div class="row clearfix" ng-controller="app.views.utility.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
        <div class="card main-content companyGridCard">
            <div class="header">
                <h2>Bulk Insert</h2>
            </div>
            <div class="data_section headerbox">
                <ul>
                    <li>
                        <button type="button" ng-click="vm.uploadAttachment()" value=""
                                class="btn btn-primary">
                            Upload Attachment
                        </button>
                    </li>
                    <li>
                        <div>
                            @*<a ng-click="vm.uploadFilePopup()">Import Excel</a>*@
                            <button type="button" ng-click="vm.uploadFilePopup()" value=""
                                    class="btn btn-primary" title="Import Excel">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    <li>
                        @*<a ng-click="vm.sampleFile()">Sample File</a>*@
                        <button type="button" ng-click="vm.sampleFile()" value=""
                                class="btn btn-primary">
                            Download Sample File
                        </button>
                    </li>

                </ul>
            </div>

            @*--test--*@
          
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="customfileupload">
                                @*<input type="text" name="Logo" id="logo" ng-model="vm.files" class="form-control" placeholder="No file selected" readonly>*@
                                <uploadfiles id="file_upload" uploadFiles="uploadfiles" 
                                             extensionlist="vm.fileextensions" maxsize="{{vm.filesize}}" 
                                             filedata="vm.files" foldername="{{vm.folder}}" 
                                             uploadurl="{{vm.uploadUrl}}" ng-model="vm.document.attachment"
                                             onchange="angular.element(this).scope().fileChange(event.target.files)"></uploadfiles>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" @*ng-disabled="!btndisable"*@>
                        @L("Save")
                    </button>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>

                        
                       
                       
                      
                
             
      

