<div class="row clearfix" ng-controller="app.views.changePassword.changePassword as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Change Password
                </h2>
            </div>
            <div class="body formarea">
                <form id="frm_chagepassword" name="chagepassword" novalidate>

                    <div class="row clearfix" ng-disabled="{{vm.error}}">
                        <div class="col-sm-6">
                            <div class="form-float">
                                <span style="color:red">{{vm.errormessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-groupbox form-float">
                                <label for="oldpassword" class="form-label">Current Password<span style="color:red" class="req">*</span></label>
                                <input id="oldpassword" type="password" name="oldpassword" ng-model="vm.user.oldpassword" required class="validate form-control">
                            </div>



                        </div>
                         <div class="col-sm-4">
                            <div class="form-groupbox form-float">
                                <label for="password" class="form-label">New Password<span style="color:red"  class="req">*</span></label>
                                <input id="password" type="password" name="Password" ng-model="vm.user.password" required class="validate form-control">
                            </div>
                        </div>
                           <div class="col-sm-4">
                            <div class="form-groupbox form-float">
                                <label for="confirmpassword" class="form-label">Confirm Password<span style="color:red"  class="req">*</span></label>
                                <input id="confirmpassword" type="password" name="ConfirmPassword" class="validate form-control" ng-model="vm.user.confirmPassword" equalTo="#password" data-msg-equalto="Please enter the same password again." required>
                            </div>
                        </div>
                    </div>
                    <div class=" data_section">
            <ul>
                <li>
                        <button type="button" class="btn btn-default btncancel waves-effect" ng-click="vm.reset()">
                        Clear
                    </button>
                </li>
                <li>
                      <button type="submit" class="btn btn-primary btnsubmit waves-effect" ng-click="vm.save()" ng-disabled="chagepassword.$invalid">
                        @L("Save")
                    </button>
                </li>
            </ul>
        </div>
                  
                  

                </form>
            </div>

        </div>


    </div>
</div>